$headerImage: url(../img/m-h-day.jpg);
$backgroundTextColor: #14a0c7;
$buttonColor: #699900;
$headerTextColor: #303440;
$cardTextColor: #afb9c4;
$cardBackgroundColor: #21232e;
$bottomGradientStart: #679702;
$bottomGradientEnd: #2b59db;
$backgroundOfBody: #fff;
$textFont:'Hind', sans-serif;