$headerImage: url(../img/m-h-night.jpg);
$backgroundTextColor: #ff5940;
$buttonColor: #e3ac00;
$headerTextColor: #fff;
$cardTextColor: #fff;
$cardBackgroundColor: #3b3f50;
$bottomGradientStart: #e1aa01;
$bottomGradientEnd: #922c52;
$backgroundOfBody: #21232e;
$textFont:'Fresca', sans-serif;